.web-rdp-session-body, * {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol"
}

.container.webrdp-container-body {
    position: relative;
    text-align: center;
}

span.webrdp-error-icon {
    position: absolute;
    width: 27px;
    height: 27px;
    opacity: 1;
    background-color: #ff5353;
    border-radius: 50px;
    margin: 11px 0 0 5px;
    left: 40px;
    top: 21px;
}

    span.webrdp-error-icon:before, span.webrdp-error-icon:after {
        position: absolute;
        content: ' ';
        height: 15px;
        width: .139rem;
        background-color: #ffffff;
        top: 6px;
        left: 12.5px;
    }

    span.webrdp-error-icon:after {
        transform: rotate(-45deg);
    }

    span.webrdp-error-icon:before {
        transform: rotate(45deg);
    }

span.webrdp-success-icon {
    font-size: 11px;
    list-style-type: none;
    padding: 0;
    position: absolute;
    left: 50px;
    top: 30px;
    height: 27px;
    width: 27px;
    opacity: 1;
    border-radius: 50px;
    background-color: #4bad20;
}

    span.webrdp-success-icon:before {
        content: " ";
        width: .3em;
        height: .9em;
        border: solid #fff;
        border-width: 0 .3em .3em 0;
        position: absolute;
        left: 0.92em;
        top: 32%;
        margin-top: -.2em;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }

.webrdp-back-btn:hover {
    background-color: #e92a2a;
}

.dialog-message-div {
    z-index: 100;
    color: #fff;
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    background-color: #eee;
    padding: 32px 60px 30px 90px;
    border-radius: 4px;
    margin-top: 150px;
    min-height: 90px;
    font-size: 18px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 30px rgba(169, 169, 169, .5);
}

span.webrdp-dialog-message-text {
    display: block;
    color: #222222;
    font-weight: 500;
}

.webrdp-back-btn {
    margin: 20px 0 0 -30px;
    background-color: #ff5353;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 15px;
}

.success-message-div .webrdp-back-btn {
    background-color: #4bad20;
}

.label-text {
    float: left;
    line-height: 40px;
    background-color: #f1f1f1;
    text-align: center;
    width: 130px;
    cursor: pointer;
}

    .label-text:hover {
        color: #000000;
        background-color: #eeeeee;
    }

.sec-loading-wrap {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-50%);
    width: calc(100% - 200px);
    color: #ffffff;
    padding: 0 100px;
    text-align: center;
    bottom: 0;
    margin: auto;
    height: 70px;
}

.sec-loading-circle {
  margin-top: 10px;
}

    .sec-loading-circle label {
        font-size: 0px;
        opacity: 0;
        display: inline-block;
        width: 7px;
        height: 7px;
        background-color: #fff;
        border-radius: 50%;
        float: none;
        margin: 0;
    }

.loading-text {
    width: 100%;
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
}
@keyframes connecting {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

@-webkit-keyframes connecting {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  66% {
    opacity: 1;
    -webkit-transform: translateX(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(300px);
  }
}

.sec-loading-circle label:nth-child(6) {
  -webkit-animation: connecting 3s infinite ease-in-out;
  animation: connecting 3s infinite ease-in-out;
}

.sec-loading-circle label:nth-child(5) {
  -webkit-animation: connecting 3s 100ms infinite ease-in-out;
  animation: connecting 3s 100ms infinite ease-in-out;
}

.sec-loading-circle label:nth-child(4) {
  -webkit-animation: connecting 3s 200ms infinite ease-in-out;
  animation: connecting 3s 200ms infinite ease-in-out;
}

.sec-loading-circle label:nth-child(3) {
  -webkit-animation: connecting 3s 300ms infinite ease-in-out;
  animation: connecting 3s 300ms infinite ease-in-out;
}

.sec-loading-circle label:nth-child(2) {
  -webkit-animation: connecting 3s 400ms infinite ease-in-out;
  animation: connecting 3s 400ms infinite ease-in-out;
}

.sec-loading-circle label:nth-child(1) {
  -webkit-animation: connecting 3s 500ms infinite ease-in-out;
  animation: connecting 3s 500ms infinite ease-in-out;
}

#remoteOperationsDiv {
    position: absolute;
    text-align: center;
    height: 56px;
    top: -56px;
    left: calc(50% - 300px);
    opacity: .75;
    background-color: #26282a;
    transition: top .5s ease-in-out;
    z-index: 1000;
}

    #remoteOperationsDiv:hover {
        opacity: 1;
        top: 0 !important;
    }

.remote-oper-label-text {
    float: left;
    text-align: center;
    cursor: pointer !important;
    font-size: 13px;
    color: #ffffff;
    padding: 10px 0 0 0;
    height: 56px;
    box-sizing: border-box;
    width: 120px;
}

    .remote-oper-label-text span {
        width: 100%;
        float: left;
        margin-bottom: 1px;
    }

svg {
    width: 16px;
    height: 16px;
    fill: #ffffff;
}

.remote-oper-label-text:hover {
    color: #ffffff;
    background-color: #2096f3;
}

.show-icon {
    position: absolute;
    width: 50px;
    height: 24px;
    bottom: -24px;
    left: 44%;
    box-sizing: border-box;
    padding-top: 5px;
    top: auto;
    border-radius: 0 0 3px 3px;
    background-color: #2096f3;
    cursor: move;
}

#remoteOperationsDivWrap:hover .show-icon {
    background-color: #3d4042;
}

.remote-clip-span {
    font-weight: normal !important;
    height: 50px;
    display: block;
    line-height: 50px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}

.remote-clip-input {
    resize: none;
    width: 520px !important;
    margin-left: 12px;
}

.remote-clip-button {
    float: left;
    margin: 8px 5px 5px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
    padding: 5px 15px;
}

    .remote-clip-button.remote-clip-copy {
        background-color: #2196F3;
        margin-left: 210px;
    }

    .remote-clip-button.remote-clip-close {
        background-color: #d5d5d5;
        color: #666;
    }

.remote-oper-label-text-icon {
    height: 20px;
}

.remote-oper-label-text-val {
    font-size: 12px;
    margin-top: 2px;
}

.clipboard-icon svg {
    height: 16px;
    width: 16px;
}

.win-r-icon {
    margin-top: -1px;
    margin-bottom: 2px !important;
}

.win-r-icon svg {
    height: 20px;
    width: 20px;
}

.ctrl-alt-del-icon svg {
    height: 16px;
    width: 16px;
}

.upload-download-icon svg {
    height: 16px;
    width: 16px;
}

.disconnect-icon svg {
    height: 15px;
    width: 15px;
}

#pasteClipboardPopup {
    width: 550px !important;
    height: 260px !important;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    visibility: inherit;
}

.dialog {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: black;
}

/* file storage popup */

body {
    padding: 0px;
    margin: 0px;
    background-color: #34495e;
    color: #ecf0f1;
}

#fileStoragePopup {
    width: 560px;
    height: 200px;
}

#fileStoragePopupDesc {
    font-weight: bold;
    padding: 10px 10px 10px 15px;
    display: flex;
    border-bottom: 1px solid #c0c0c0;
}

.file-share-wrap {
    padding: 10px 10px 10px 15px;
    display: inline-block;
    float: left;
    width: calc(100% - 25px);
}

.share-folder-upload {
    height: 30px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 110px 1fr 100px;
    margin-top: 15px;
}


.share-folder-download {
    height: 30px;
    line-height: 30px;
    display: grid;
    grid-template-columns: 110px 1fr 100px;
    margin-top: 15px;
}

.file-info-close {
    width: 70px;
    height: 30px;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
}

input#fileToUploadText {
    margin: 0 0 0 5px;
    line-height: 35px;
    background-color: #efefef;
    color: #000;
    border: none;
    box-shadow: none;
    outline: none;
    width: calc(100% - 10px);
}

input#uploadFileButton {
    line-height: 30px;
    height: 35px;
}

#fileToDownloadSelect {
    width: calc(100% - 5px);
}

.choose-share-file-wrap {
    position: relative;
}

.choose-share-file-wrap label {
    position: absolute;
    left: 0px;
    border: 1px solid #9e9e9e;
    width: 85px;
    padding-left: 5px;
    height: 33px;
    background-color: #1b57ff;
    top: 0px;
    color: #ffffff;
    border-radius: 0;
    cursor: pointer;
}
